Repository sphinx-contrib/multiversion: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-check, unittest

version-check:
  name: version-check
  description: Check if version is consistent in all source files
  entry: .pre-commit/version_check.py
  pass_filenames: false
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - sphinx

unittest:
  name: unittest
  description: Run unittests
  entry: python -m unittest discover
  pass_filenames: false
  language: python
  stages:
  - commit
  - manual
  additional_dependencies:
  - sphinx

ci(pre-commit): Update hooks to latest version
  .pre-commit-config.yaml
Due: none

ci(actions): Replace Travis CI with GitHub Actions workflow
  .github/workflows/build.yml
  .travis.yml
Due: none

chore(pyproject): Update classifiers to current python versions
  pyproject.toml
Due: none

ci(actions): Update the GitHub Pages redirect and use it for deployment
  .github/workflows/build.yml
  assets/gh-pages-redirect.html
Due: none

ci(actions): Update the default branch name to `main`
  .github/workflows/build.yml
  docs/conf.py
Due: version-check, unittest

ci(actions): Use `upload-pages-artifact` action for GH Pages deploy
  .github/workflows/build.yml
Due: none

docs(conf): Update repository settings and disable TravisCI button
  docs/conf.py
Due: version-check, unittest

docs(index): Use release version in header
  docs/index.rst
Due: none

docs: Update remaining links to old repository
  docs/changelog.rst
  docs/index.rst
  docs/install.rst
Due: version-check

docs(readme): Update badges and links in `README.md`
  README.md
Due: none

ci(flake8): Remove obsole `flake8` config (switched to `ruff` now)
  .flake8
Due: none

ci(pre-commit): Add more hooks and fix various code smells
  .codespellignore
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pre-commit/version_check.py
  .sourceheaders.toml
  README.md
  docs/conf.py
  docs/configuration.rst
  pyproject.toml
  sphinx_multiversion/__init__.py
  sphinx_multiversion/__main__.py
  sphinx_multiversion/git.py
  sphinx_multiversion/main.py
  sphinx_multiversion/sphinx.py
  tests/__init__.py
  tests/test_sphinx.py
Due: version-check, unittest

chore: Bump version and update changelog
  docs/changelog.rst
  docs/conf.py
  sphinx_multiversion/__init__.py
Due: version-check, unittest

style: Inform git about our preferred line endings
  .gitattributes
Due: none

style: Add .editorconfig file
  .editorconfig
Due: none

build: Add default python gitignore
  .gitignore
Due: none

ci: Split docs deployment into a separate workflow
  .github/workflows/build.yml
  .github/workflows/deploy-github-pages.yaml
Due: none

ci: Split deploy jobs into separate files
  .github/workflows/build.yml
  .github/workflows/deploy-pypi.yaml
Due: none

ci: Exclude GitHub templates from markdownlint
  .pre-commit-config.yaml
Due: none

chore: Add issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

chore: Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: configuration: fix `smv_released_pattern`
  docs/configuration.rst
Due: none

docs: `svm_released_pattern`: avoid confusion around `ref/` prefix
  docs/configuration.rst
Due: none

ci(pre-commit): Remove unnecessary `stages` in local hooks
  .pre-commit-config.yaml
Due: none

ci(dependabot): Add dependabot config for `pip` and GitHub Actions
  .github/dependabot.yml
Due: none

Add smv_postbuild_command config option
  docs/configuration.rst
  sphinx_multiversion/main.py
Due: unittest

Add smv_prebuild_command config option
  docs/configuration.rst
  sphinx_multiversion/main.py
Due: unittest

add creatordate info to the version tag
  sphinx_multiversion/sphinx.py
Due: unittest

add filter to format date
  sphinx_multiversion/sphinx.py
Due: unittest

add option to have one ref in toplevel
  sphinx_multiversion/main.py
  sphinx_multiversion/sphinx.py
Due: unittest

ci: Implement a prim and proper release workflow
  .github/workflows/branch-build.yaml
  .github/workflows/build.yaml
  .github/workflows/build.yml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/deploy-pypi.yaml
  .github/workflows/release.yaml
Due: none

ci: Implement a prim and proper release workflow
  .github/workflows/branch-build.yaml
  .github/workflows/build.yaml
  .github/workflows/deploy-github-pages.yaml
  .github/workflows/deploy-pypi.yaml
  .github/workflows/release.yaml
Due: none

ci: Fix reusable workflow parameter reference
  .github/workflows/deploy-github-pages.yaml
Due: none

fix: update Config.read() signature (overrides, tags)
  sphinx_multiversion/main.py
  sphinx_multiversion/sphinx.py
Due: unittest

Path conditions:
  version-check: any of: ^(\.pre-commit/version_check\.py|setup\.py|sphinx_multiversion/__init__\.py|docs/conf\.py|docs/changelog\.rst)$
  unittest: any of: \.py$
